body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0px;
}

.question {
  font-size: 1.5em;
  background-color: #efc
}

.answer {
  border: 1px solid gray;
}

.answer-options {
  display:flex;
}

.answer-option {
  float: left;
  width: 50%;
  border: 1px solid gray
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.app-bar {
  padding: 10px 5px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(197,232,183,1) 48%);
}

.menu {
  margin-right: 10px;
  background-color: rgba(0, 0, 255, 0.143);
  text-decoration: none;
  border: 1px solid rgba(0, 0, 255, 0.143);
  border-radius: 10px;
  padding: 15px 7px;
}

.menu:hover {
  border: 1px solid gray;
}

.menu-responsive {
  background-color: rgba(0, 0, 255, 0.043);
  text-decoration: none;
  border: 1px solid rgba(0, 0, 255, 0.043);
  border-radius: 10px;
  width: 100%;
}

.page-title {
  padding: 5px 0px;
  border-bottom: 2px solid rgb(68, 37, 37);
}

.list-item {
  background-color: #ddd8d8;
  border: 1px solid gray;
}

.list-item-selected {
  background-color: #8b2525;
  color: white;
}

.container {
  margin: 0px 10px;
  padding: 0px 10px 10px 10px;
  background: linear-gradient(0deg, rgb(228, 238, 238) 0%, rgb(152, 230, 231) 88%);
}

.footer {
  padding: 10px;
  text-align: center;
  border: 1px solid gray;
  background-color: #333333f2;
  color: white;
}

.main-container {
  padding: 20px;
}

.keycontainer{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  margin: 0 auto;
}

.keycontainer button{
  padding: 10px;
  background-color: #b1e8e9;
  cursor: pointer;
}

.spacebar{
  min-width: 200px
} 

.clear-text{
  min-width: 50px;
}